<h1>Files</h1>
<% if @files.count > 0 %>
    <table>
      <% @files.each do |each_file| %>
          <tr>
            <td><%= each_file.name %></td>
            <td><%= link_to 'Delete', file_path(each_file), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
    </table>
<% else %>
    <p>No files uploaded!</p>
<% end %>
<%= form_tag({action: :upload}, multipart: true) do %>
    <%= label_tag 'File Name' %>
    <%= text_field_tag 'name' %>
    <%= label_tag 'upload' %>
    <%= file_field_tag 'attachment' %>
    <p class="button"><%= submit_tag "Submit" %>
<% end %>


