<!DOCTYPE html>
<html>
<head>
  <title>FileUploadWithGems</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in?  %>
      <div>Signed in as <%= current_user.email %></div>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <% end %>
</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
